*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
:root {
    font-size: 62.5%;
}

.d1 {
    display: inline-block;
    width: calc(33.3% - 2.5px);
    height: 200px;
    background-color: blue;
}
p {
    float: left;
    display: inline-block;
    width: 33.333%;
    height: 200px;
    background-color: green;
}

.d2 {
    font-size: 40px;
}
.d2::before {
    content: "";
    width: 50px;
    height: 30px;
    background-color: lightcoral;
    display: inline-block;
}

.d3 {
    display: inline-block;
    width: calc(33.3% - 2.5px);
    height: 200px;
    background-color: blue;
}
.d3::before {
    content: "";
    display: inline-block;
    width: calc(33.3% - 2.5px);
    height: 200px;
    background-color: blue;
}
.d3::after {
    content: "";
    display: inline-block;
    width: calc(33.3% - 2.5px);
    height: 200px;
    background-color: blue;
}
a {
    font-size: 30px;
}
a {
    &:link {
        font-size: 80px;
    }
    &:visited {
        color: lightcoral;
    }
    &:active {
        transform: calc(1.5);
    }
}
