*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    /* padding: 20px; */
    font-size: 1rem;
}
/* 
div {
    width: 150px;
    line-height: 150px;
    margin: 20px 200px;
    background-color: lightblue;
    position: static;
}

span {
    background-color: lightsalmon;
    padding: 10px;
}
.d1 {
    background-color: orange;
}
.d2 {
    background-color: lime;
}
.d3 {
    background-color: cyan;
}
.d4 {
    background-color: purple;
} */

/* position: relativ */

/* div {
    width: 140px;
    line-height: 140px;
    margin: 20px 200px;
    background-color: lightblue;
    position: static;
}

span {
    background-color: lightsalmon;
    padding: 10px;
}
.d1 {
    background-color: orange;
}
.d2 {
    background-color: lime;
}
.d3 {
    background-color: cyan;
    position: relative;
    left: 150px;
    bottom: 300px;
}
.d4 {
    background-color: purple;
}

.s2 {
    position: relative;
    top:  -300px;
    left: 300px
} */

/* position fixed */
/* 
div {
    width: 140px;
    line-height: 140px;
  
    background-color: lightblue;
    position: static;
}

span {
    background-color: lightsalmon;
    padding: 10px;
}
.d1 {
    background-color: orange;
    position: fixed;
    top: 50%;
    right: 10px;

}
.d2 {
    background-color: lime
    ;position: fixed;
    top: 50%;
    right: 150px;
}
.d3 {
    background-color: cyan;
    position: fixed;
    top: 50%;
    right: 290px;
 
}
.d4 {
    background-color: purple;
    position: fixed;
    top: calc(50% - 70px);
    left: calc(50% - 70px);
    /transform: translate(-50%, -50%); 
}

.s1 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.s2 {
    position: fixed;
    top: 0;
    left: 50%;
}

.s3 {
    position: fixed;
    top: 50%;
    left: calc(50% - 50px);
}
 */
/* position absolute */
/* 
.container {
    width: 300px;
    height: 300px;
    border: 3px solid red;
    position: relative;
    top: calc(50vh - 150px);
    left: calc(50% - 150px);
}
.d1 {
    position: absolute;
    width: 25%;
    height: 25%;
    background-color: coral;
    border: 1px solid;
    left: 0;
    bottom: 0;
}
.d2 {
    position: absolute;
    width: 25%;
    height: 25%;
    background-color: lime;
    border: 1px solid;
    left: 25%;
    bottom: 25%;
}
.d3 {
    position: absolute;
    width: 25%;
    height: 25%;
    background-color: red;
    border: 1px solid;
    left: 50%;
    bottom: 50%;
}
.d4 {
    position: absolute;
    width: 25%;
    height: 25%;
    
    border: 1px solid;
    left: 75%;
    bottom: 75%;
}
.a {
    width: 50%;
    height: 50%;
    border: 1px solid dodgerblue;
    position: absolute;
    top: 0;
    right: 0;
}
.b {
    width: 50%;
    height: 50%;
    border: 1px solid dodgerblue;
    position: absolute;
    bottom: 0;
    left: 0;
}
 */

 /* 
body > * {
    margin-bottom: 20px;
    font-size: 40px;
    padding: 10px;
    text-align: center;
}
 header {
     width: 100%;
     height: 250px;
     background-color: wheat;
 }
nav {
    width: 100%;
    height: 80px;
    background-color: lightblue;
    position: sticky;
    top:10px
}
nav a:first-child {
    position: absolute;
    top: 10px;
    left: 30px;
}
nav a:last-child {
    position: absolute;
    top: 10px;
    right: 30px;
}
nav a:last-child:hover {
  
    font-size: 4rem;
}

section {
    width: 100%;
    height: 500px;
    background-color: lightgreen;
}
footer {
    width: 100%;
    height: 80px;
    background-color: lightsalmon;
} */


header{
    width: 100%;
    height: 400px;

    position: relative;
}
.fimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 0;
}
.simg {
    width: 80%;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: 1;
}

h1 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%);
    color: white;
    font-size: 3rem;
    z-index: 2;
}

button {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%);
    background-color: tomato;
    padding: 10px;
    color: white;
    font-size: 2rem;
    z-index: 2;
}