*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

bady {
    padding: 20px;
}

.class1 {
    margin: 10px auto;
    width: 300px;
    display: inline-block;
    height: 200px;
    padding: 10px;
    border: 10px solid orange;
    box-sizing: content-box;
    overflow: hidden;
    
}   
.class2 {
    display: inline-block;
    margin: 10px auto;
    width: 300px;  
    height: 200px;
    padding: 10px;
    border: 10px solid orange;
    box-sizing: border-box;
    overflow: hidden;
    vertical-align: top;
}
.class3{
    margin: 10px auto;
    /* width: 800px;   */
    max-width: 800px;
    height: 800px;
    padding: 10px;
    border: 10px solid orange;
    box-sizing: border-box;
    overflow: hidden;
    background-color: palegoldenrod;
    
}

.class3 p {
    height: 100px;
    margin: auto 10px;
    line-height: 400px;
}


/* width and height , max width */

nav {
    width: 100%;
    height: 100px;
    margin-bottom: 30px;
    background-color: cyan;
}

header {
   
    height: calc(100vh - 130px) ;
    background-color: lightgreen;
}

.first {
    width: 300px;
    height: 200px;
    margin: 20px 0;
    background-color: tomato;
    text-align: right;
}

.second {
    max-width: 300px;
    height: 200px;
    margin: 20px 0;
    background-color: tomato;
    text-align: right;
}

span {
    background-color: violet;
    width: 200px;
    height: 200px;
    padding: 5px;
    border: 5px solid blue;
    display: inline-block;
}

/* display: none VS visibility: hidden; */

ul:first-of-type {
    margin-top: 200px;
}

ul:nth-of-type(1) li:nth-of-type(2) {
    display: none;
}

ul:nth-of-type(2) li:nth-of-type(2) {
    visibility: hidden;
}

.overflow-scroll {
    width: 200px;

    height: 200px;
    background-color: yellowgreen;
    margin: 20px 0;
    overflow: scroll;
}

.overflow-auto {
    width: 200px;
    height: 200px;
    background-color: yellowgreen;
    overflow: auto;
    margin-bottom: 200px;
}


/* text-shadow & box shadow */

p.p1 {
    font-size: 3rem;
    color: white;
    text-shadow: 2px 2px 10px black, -2px -2px 10px black;

    padding: 30px;
    border: 1px solid tomato;
    width: 900px;
    margin: 50px auto;
    box-shadow: 5px 5px  10px gray inset, -5px -5px 10px gray inset;
}



/* pseudo element */

div.d1 {
    margin: 20px;
    padding: 20px;
    font-size: 2rem;
    vertical-align: middle;
    display: inline-block;
}

div.d1::before {
    content: "";
    width: 100%;
    height: 10px;
    background-color: magenta;
    display: block;
    border-radius: 3px;
   /*  margin-right: 30px; */
   margin-bottom: 20px;
    /* vertical-align: middle; */
}

div.d1::after {
    content: "";
    width: 100%;
    height: 10px;
    background-color: lime;
    display: block;
    border-radius: 3px;
    /* margin-left: 30px; */
    margin-top: 20px;
   /*  vertical-align: middle; */
    
}