*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    font-size: 62.5%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
nav ,
section,
footer {
    padding: 2rem;
    font-size: 3rem;
    text-align: center;
}
main {
    width: 100%;
    display: flex;
    flex-flow: wrap;
}
nav,
footer {
    width: 100%;
    background-color: #eee;
}
.sec1,
.sec2,
.sec3 {
    flex-basis: 33.33%;
}
.sec4,
.sec5 {
    flex-basis: 50%;
}
.sec6 {
    flex-basis: 100%;
}
footer {
    flex-basis: 100%;
}
section {
    height: 300px;
}
.sec1 {
    background-color: orange;
}
.sec2 {
    background-color: green;
}
.sec3 {
    background-color: purple;
}
.sec4 {
    background-color: lightblue;
}
.sec5 {
    background-color: lawngreen;
}
.sec6 {
    background-color: blueviolet;
}

@media screen and (max-width: 992px) {
    :root {
        font-size: 40%;
    }
    body {
        font-family: Arial, Helvetica, sans-serif;
    }
    
    
    .sec1,
    .sec2 {
        flex-basis: 50%;
    }
    .sec3 {
        flex-basis: 100%;
    }
    
}


@media screen and (max-width: 600px) {
    :root {
        font-size: 35%;
    }
    body {
        font-family: Arial, Helvetica, sans-serif;
    }
    
    
    .sec1,
    .sec2 {
        flex-basis: 100%;
    }
    .sec3 {
        flex-basis: 100%;
    }
    .sec4,
    .sec5 {
       flex-basis: 100%;
    }
}