*
, *::before
, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    padding: 20px;
}

.container {
    width: 100%;
    height: 550px;
    border: 3px solid red;
    display: flex;
  /*   flex-direction: row;
    flex-direction: row-reverse;
    flex-direction: column;
    flex-direction: column-reverse;

    flex-wrap: nowrap;
    flex-wrap: wrap;
    flex-wrap: wrap-reverse;

    flex-flow: row nowrap;
    flex-flow: row wrap;
    flex-flow: row warp-reverse;
    flex-flow:  column nowrap;
    flex-flow:  column wrap;
    flex-flow:  column wrap-reverse;  */

  /*   flex-direction: row;
    
    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;

    align-items: stretch;
    align-items: flex-start;
    align-items: flex-end;
    align-items: center;
    align-items: baseline;

    justify-content: center;
    align-items: center; */

    /* flex-direction: column;
    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;

    align-items: stretch;
    align-items: flex-start;
    align-items: flex-end;
    align-items: center;
    align-items: baseline; */
    
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-content: flex-end;
    align-content: space-between;
    align-content: space-around;
    align-content: space-evenly;
    align-content: stretch;
    justify-content: flex-start;

    

} 
.item {
    margin: 10px;
    padding: 10px;
    width : 100px;  
    /* height: 100px;  */ 
    font-size: 30px;
    color: white;
}
.tomato {
    background: tomato;
    
}
.green {
    background: green;
    
}
.purple {
    background: purple;
   
}