@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    width: 100%;
    height: 100vh;
    padding: 5px;
    font-family: 'Maven Pro', sans-serif;
}

/* header and footer  */
body {
    background-color: #eee;
    display: grid;
   
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 25px 1fr 25px;
    border: 5px red solid;
}
p:first-of-type,
p:nth-of-type(7),
main + p {
    font-weight: bold;
}

main + p {
    grid-area: 3/1/4/2;
}
address {
    grid-area: 3/6/4/7;
}

/* main part  */
main {
    grid-area: 2/1/3/9;
    width: 100%;
    height: 100%;
   
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    
    /* grid-template-rows: repeat(4, 150px); */
    grid-template-rows: repeat(4, calc( (100vh - 95px) / 4 ) ); 
    /* grid-template-rows: repeat(4, minmax(0, 1fr)); */

    gap: 5px;
    border: 5px blue solid;
    /* overflow: hidden;  */
}
main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} 

/* images */
/* div {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */

.pic3 {
    grid-area: 4/7/5/8;
    
}
.pic4 {
    grid-area: 3/6/4/7;
   
}
.pic5 {
    grid-area: 2/5/3/6;
   
}
.pic6 {
    grid-area: 2/3/3/4;
   
}
.pic7 {
    grid-area: 3/4/4/5;
   
}
.pic8 {
    grid-area: 3/1/5/3;
    
}
.pic9 {
    grid-area: 1/7/3/9;
   
}
h1 {
    grid-area: 2/4/3/7;
    
    color: red;
    font-size: 80px;
    font-weight: 400;
    display: flex;
    align-items: center;
    letter-spacing: 12px;
}






